* {
    margin: 0;
    padding: 0;
    /*確保padding和border被包括在width和height的長度裡面*/
    box-sizing: border-box;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*最上面的NAV*/
.nav-container {
    margin: 0 auto;
    width: 1200px;
    height: 54px;
}

.menu {
    display: flex;
    list-style: none;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-left {
    display: flex;
    align-items: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #448899;

}
.menu-right-container {
    display: flex;
    margin-left: auto;
    align-items: center;
}
.menu-right {
    padding: 10px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #666666;
}


.seperator {
    height: 1px;
    background-color: #E8E8E8;
    margin-bottom: 40px;
}



/*第一大格-圖片加資訊*/

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    width:1200px;
    height: 400px;
    grid-template-columns: 540px 600px;
    column-gap: 30px; 
    padding: 0 15px;
}

.image-container {
    position: relative;
    /*讓不在grid裡面的內容都看不到*/
    overflow: hidden;

    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.image-list-wrapper {
    width: 100%;
    height: 100%;

    overflow: hidden;/*好像沒屁用*/
}

.image-list {
    display: flex;
    height: 100%;
    width: 100%;
    transition: transform 0.5s ease-in-out; /*跟JS搭配作slide show*/
}

.image-list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}





/*左右點的按鍵*/
.scroll-button {
    position: absolute;
    width: 36px;
    height: 36px;

    background-color: transparent;
    
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 36px 36px;
    border: none;
    z-index: 2;

    top: 50%;
    opacity: 75%;

}

.scroll-button.left {
    background-image: url('arrow_left.png');
    left: 10px;
}

.scroll-button.right {
    background-image: url('arrow_right.png');
    right: 10px;
}

/*圖片的圈圈*/
.allCircles {
    position: absolute;
    bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;    
}

.circle {
    width: 12px;
    height: 12px;
    opacity: 50%;

    border-radius: 50%;
    background-color: #FFFFFF;

    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;

}

.circle.active {
    background-color: black;
}





/*訂購頁面*/
.profile {
    display: flex;
    flex-direction: column;


}

.booking-form {
    background-color: #E8E8E8;
    height: 302px;
    border-radius: 5px;
    margin-top: auto;

    padding: 15px 20px 15px 20px;

    justify-content: space-between;
    height: 100%;

}


.name {
    height: 33px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #666666;
}

.CAT_MRT {

    padding: 15px 0 15px 0;

    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}

.title {
    height: 22px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #666666;
}
.content {

    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*日期選擇*/
.date {

    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #666666;
    margin-bottom: 15px;

}
.date label {
    margin-right: 10px;
}
.date input[type="date"] {
    height: 35px;
    width: 193px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border: none;
}



.time {
    height: 22px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #666666;
    margin-bottom: 15px;

    display: flex;
    align-items: center;
}
.time label{
    margin-right: 10px;
}
.time-option {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    display: flex;
}
/*讓預設顏色消失*/
#specifyColor {
    accent-color: #448899;
    width: 22px;
    height: 22px;
    margin-right: 5px;
}

.cost {
    height: 22px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #666666;
    margin-bottom: 25px;
}
.reserve-box button {
    width: 154px;
    height: 36px;
    border-radius: 5px;
    background-color: #448899;
    border: none;
    padding: 10px 20px 10px 20px;

    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}












.seperator-2 {
    height: 1px;
    background-color: #E8E8E8;
    width: 1200px;
    margin: auto; /*讓element自動置中，兩邊的空間平分*/

    margin-top: 40px;
    margin-bottom: 25px;
}


/*第二部分*/
.horizontal-center {
    margin:0 auto;
    width: 1200px;
}
.infors {

    padding: 10px;
}


.title-2 {
    height: 32px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #666666;

    display: flex;
    align-items: center;
}

.content-2 {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    line-height: 1.5;
}

.group {
    margin-top: 15px;
    margin-bottom: 15px;
}


.footer {
    width: 100%;
    height: 104px;
    background-color: #757575;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 700;

    margin-top: 40px;
    bottom: 0;
}




/* Media Queries */
@media (max-width: 1200px) {
    .nav-container, .horizontal-center, .seperator-2 {
        width: 100%;
    }
    .grid-container {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
}

@media (max-width: 900px) {
    .grid-container {
        grid-template-columns: 1fr;
        height: 100%;
        row-gap: 20px;
        padding: 0;
    }
    .image-container, .profile {
        height: 100%;
        border-radius: 0;
    }
    .image-container {
        width: 100%;
        margin: 0 auto;
        
        max-height: 400px;
    }
    .profile {
        width: calc(100% - 30px);
        margin: 0 auto;
    }
    .infors {
        width: calc(100% - 30px);
        margin: 0 auto;
        margin-top: 20px;
    }
    .seperator {
        margin-bottom: 0;
    }
}


@media (max-width: 400px) {
    .date label {
        margin-bottom: 5px;
        display: block;
    }
    .date input[type="date"] {
        width: 100%;
    }
    .seperator {
        margin-bottom: 0;
    }

}

