* {
    margin: 0;
    padding: 0;
    /*確保padding和border被包括在width和height的長度裡面*/
    box-sizing: border-box;
}
html, body {
    min-height: 100vh;
    height: 100%;
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: column;
}

/*最上面的NAV*/
.nav-container {
    margin: 0 auto;
    width: 1200px;
    height: 54px;
}

.menu {
    display: flex;
    list-style: none;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-left {
    display: flex;
    align-items: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #448899;

}
.menu-right-container {
    display: flex;
    margin-left: auto;
    align-items: center;
}
.menu-right {
    text-align: center;
    padding: 10px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 13.3px;
    color: #666666;
}
.only-occupy-1space {
    width: 92px;
}
.menu-right-login {
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 13.3px;
    color: #666666;
    padding: 10px;

    display: block;
    visibility: hidden;
}
.menu-right-logout {
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 13.3px;
    color: #666666;
    padding: 10px;  

    display: none;
    visibility: hidden;
}
.visible {
    visibility: visible;
}


.seperator {
    height: 1px;
    background-color: #E8E8E8;
    margin-bottom: 40px;
    
    flex-shrink: 0;
}



/*   第一部分   */
.grid-container {
    margin: 0 auto;
    flex: 1;
}

.greeting {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 19px;
    font-weight: 700;
    color: #666666;
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.booking-found {
    display: none;

}
.first-part {
    display: grid;
    width: 980px;
    height: 200px;
    grid-template-columns: 250px 700px;
    column-gap: 30px;
    margin: 0 auto;
}

.no-booking {
    display: none;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #666666;
    width: 1000px;
    margin: 0 auto;
}

.no-booking.visible {
    display: block;
}
.booking-found.visible {
    display: grid;
}

/*放圖片*/
.image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.first-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
    bottom: 0;
    position: absolute;
}

/*放右邊grid的文字*/
.profile {
    position: relative;
}
.name {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #448899;
    margin-bottom: 20px;
}
.info-title {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #666666;
    margin-bottom: 10px;
}
.delete-booking {
    background-image: url('delete.png');
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: -5px;
}

/*填全部個人資料+信用卡*/
.contact-info {
    margin: 0 auto;
    width: 1200px;

}
.extra-1 {
    width: 980px;
    margin: 0 auto;
}
.seperator-2 {
    height: 1px;
    background-color: #E8E8E8;
    width: 1200px;
    margin: auto; /*讓element自動置中，兩邊的空間平分*/

    margin-top: 40px;
    margin-bottom: 40px;
}
.form-topic {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 19px;
    font-weight: 700;
    color: #666666;
    margin-bottom: 20px;
}
.contact-title {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #666666;
}
.contact-title input {
    height: 38px;
    width: 200px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-left: 5px;

    border-width: 1px;
    border-color: #E8E8E8;
    padding-left: 10px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

/*確認訂購並付款*/
.extra-2 {
    width: 980px;
    height: 100px;
    margin: 0 auto;
    text-align: right;
}
.total-price {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #666666;
    margin-bottom: 20px;
}
.extra-2 button {
    width: 173px;
    height: 36px;
    border-radius: 5px;
    background-color: #448899;
    border: none;
    padding: 10px 20px 10px 20px;

    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: #FFFFFF;
    display: flex;
    align-items: center;

    margin-left: auto;
}

.footer {
    width: 100%;
    height: 100vh;
    min-height: 100px;
    background-color: #757575;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 700;

    margin-top: 40px;
    bottom: 0;
}



/* Media Queries */
@media (max-width: 1200px) {
    .nav-container, .seperator-2 {
        width: 100%;
    }
    .first-part {
        grid-template-columns: 1fr 1fr; 
        height: auto;
        column-gap: 10px;
        row-gap: 20px;
        width: 650px;
    }
    .delete-booking {
        right: -20px;

    }
    .greeting {
        max-width: 1000px;
        width: 100%;
    }
    .image-container, .profile {
        height: auto;
    } 
    .first-image {
        width: 100%;
        margin: 0 auto;
        height: 200px;
   
    }
    .profile {
        width: calc(100% - 30px);
        margin: 0 auto;
    }
    .contact-info {
        width: 650px;
    }
   .extra-1 {
        width: 100%;
    }
    .seperator-2 {
        width: 100%;
        margin: 40px auto;
    }
    .extra-2 {
        width: 100%;
    }
}

@media (max-width: 700px){
    .greeting {
        padding-left: 10px;
    }
    .grid-container {
        width: 100%;

    }
    .first-part {
        grid-template-columns: 1fr;
        height: auto;
        width: 100%;

    }
    .image-container {
        height: 400px;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;

    }
    .first-image {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .profile {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .delete-booking {
        right: 10px;
    }

    .contact-info {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width: 400px) {
    .menu-left {
        margin-left: 10px;
    }

    .contact-info {
        width: 100%;
    }
    .extra-1 {
        width: 100%;
    }
    .seperator-2 {
        width: 100%;
        margin: 40px 0;
    }
    .extra-2 {
        width: 100%;
    }
    .profile {
        width: 100%;
    }
    .first-part {
        width: 100%;
        margin: 0 auto;
        grid-template-columns: 1fr;
    }
    .image-container {
        height: 200px;
    }
}


/*登入/註冊的彈出視窗*/
/* Add this CSS for the 登入 modal */
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
  }
  
.modal-content {
    background-color: #fefefe;
    margin: auto;
    max-width: 340px;
    max-height: auto;
    border-radius: 3%;
    overflow: hidden;
}
.decorator-bar {
    max-width: 340px;
    height: 10px;
    background-color: #448899;
}
.content-wrapper {
    padding: 15px;
    height: auto;
    position: relative;
}
.close-button {
    width: 30px;
    height: 30px;
    background-image: url('close.png');
    position: absolute;
    right: 10px;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.dialog-topic {
    text-align: center;
    font-family: 'Noto Sans TC';
    font-size: 24px;
    font-weight: 700;
    color: #666666;
    margin-bottom: 15px;
}

.error-message {
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Noto Sans TC';
    font-size: 14px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group input {
    width: 100%;
    padding: 15px;
    height: 45px;
    border-color: #CCCCCC;
    border-width: 1px;
    border-radius: 5px;
    font-family: 'Noto Sans TC';
    font-size: 16px;
}
.content-wrapper button {
    height: 45px;
    width: 100%;
    background-color: #448899;
    border: none;
    border-radius: 5px;
    font-family: 'Noto Sans TC';
    font-size: 19px;
    color: #FFFFFF;
}
.register {
    font-family: 'Noto Sans TC';
    font-size: 16px;
    color: #666666;
    text-align: center;
    padding-top: 5px;
}
  

/*註冊的彈出視窗*/
/* Add this CSS for the 註冊 modal */
.R-modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
  } 
  
.R-modal-content {
    background-color: #fefefe;
    margin: auto;
    max-width: 340px;
    max-height: auto;
    border-radius: 3%;
    overflow: hidden;
}
.R-content-wrapper {
    padding: 15px;
    height: auto;
    position: relative;
}

.R-close-button {
    width: 30px;
    height: 30px;
    background-image: url('close.png');
    position: absolute;
    right: 10px;
}

.R-close-button:hover,
.R-close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.R-error-message {
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Noto Sans TC';
    font-size: 14px;
}
.R-content-wrapper button {
    height: 45px;
    width: 100%;
    background-color: #448899;
    border: none;
    border-radius: 5px;
    font-family: 'Noto Sans TC';
    font-size: 19px;
    color: #FFFFFF;
}
.back-to-login {
    font-family: 'Noto Sans TC';
    font-size: 16px;
    color: #666666;
    text-align: center;
    padding-top: 5px;
}