* {
    box-sizing: border-box;
    padding: 0;
}
  
html, body {
    height: 100%;
    margin: 0; /*消除頁面預設的邊框*/
    padding: 0;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    position: fixed; /* Fix the nav at the top */
    top: 0; /* Align it to the top of the viewport */
    width: 100%; /* Ensure it spans the full width */
    z-index: 2; /* Make sure it stays above other elements */
    background-color: white; /* Optional: Set a background color to prevent transparency issues */
}

.nav-container {
    width: 100%;
    max-width: 1200px;
    height: 54px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;/**/
    align-items: center;
}
  
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    align-items: center;
}
  
.menu-left {
    text-align: left;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    color: #448899;
    padding: 10px;
}

.menu-right-container {
    margin-left: auto;
    display: flex;
    align-items: center;
}
  
.menu-right {
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 13.3px;
    color: #666666;
    padding: 10px;
}
.only-occupy-1space {
    width: 92px;
}
.menu-right-login {
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 13.3px;
    color: #666666;
    padding: 10px;

    display: block;
    visibility: hidden;
}
.menu-right-logout {
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 13.3px;
    color: #666666;
    padding: 10px;  

    display: none;
    visibility: hidden;
}
.visible {
    visibility: visible;
}


.header {
    position: relative;
    width: 100%;
    height: 320px;
    background-image: url('welcome.png');
    background-size: cover;
    background-position: center top;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 54px;
    margin-bottom: 40px;
}

.header-content {
    width: 100%;
    height: 170px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    color: white;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.header-t1 {
    position: relative;
    color: white;
    padding: 10px 0;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    /* Additional styling for text as needed */
}

.header-t2 {
    position: relative;
    color: white;
    padding: 10px 0;

    font-family: 'Noto Sans TC';
    font-size: 16px;
    font-weight: 700;
    line-height: 13.3px;
    text-align: left;
    /* Additional styling for text as needed */
}

.search-box {
    position: relative;
    height: 46px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-grow: 1;
}

.search-box input {
    border: none;
    width: 400px;
    height: 46px;
    padding: 10px;
    padding-right: 40px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

.search-box button {
    width: 60px;
    height: 46px;
    border: none;
    background: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #448899;

    background-image: url('icon_search.png');
    background-repeat: no-repeat;
    background-position: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}



/*MRT LIST*/
.mrt-list-container{
    height: 70px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    margin: 0 auto;
    position: relative;
}

.mrt-list-wrapper {
    width: calc(100% - 94px); /* Subtracting the width of both scroll buttons */
    max-width: 1106px; /* Maximum width between two buttons */
    overflow: hidden; /* Hide overflow */
    display: flex;
    align-items: center;
}

.mrt-list{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;    
    padding: 0 13px;
    flex-grow: 1;
    z-index: 1;
}

.mrt-list::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers */
}

.scroll-button {
    width: 47px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px 32px;
    border: none;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-button.left {
    background-image: url('arrow_left.png');
    position: absolute;
    left: 0;
    background-position: right center;
}

.scroll-button.right {
    background-image: url('arrow_right.png');
    position: absolute;
    right: 0;
    background-position: left center;
}

.mrt-item {
    height: 50px;
    gap: 4px;
    white-space: nowrap;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
    font-family: 'Noto Sans TC';
    font-size: 16px;
    font-weight: 500;
    color: #666666;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}






/*12個景點圖片跟字*/
.grid-container{
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-grow: 1;
}

.grid-content{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 242px;
    column-gap: 30px;
    row-gap: 30px;
    padding: 15px;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 242px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    overflow: hidden; /*邊框底部圓弧消失了! 應該是被其他的child element蓋到，這時候用這個解決溢出的東西!*/
}

.card img{
    width: 100%; /*Ensure the image fills the grid item*/
    height: 100%; /*Ensure the image fills the grid item*/
    object-fit: cover;
    object-position: 0 0;
    position: absolute;
    border-radius: 5px;
}

.attraction-image{
    object-position: -30px 0;
}

.attraction-name{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 45px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    font-family: 'Noto Sans TC';
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px;
}

.attraction-category{
    height: 45px;
    right: 0;
    position: absolute;
    font-family: 'Noto Sans TC';
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    z-index: 1;
}

.attraction-mrt{
    height: 45px;
    position: absolute;
    font-family: 'Noto Sans TC';
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    padding: 10px;
    width: 100%;
}










.footer {
    width: 100%;
    height: 104px;
    background-color: #757575;
    bottom: 0;
    font-family: 'Noto Sans TC';
    font-size: 16px;
    font-weight: 700;
    line-height: 13.3px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}


/* Responsive Grid Layout */
@media (max-width: 1200px) {
    .grid-content {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 900px) {
    .grid-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .grid-content {
        grid-template-columns: 1fr;
    }
    .menu-right {
        font-size: 14px;
    }
    .menu-right-login {
        font-size: 14px;
    }
    .menu-right-logout {
        font-size: 14px;
    }
}




/*登入/註冊的彈出視窗*/
/* Add this CSS for the 登入 modal */
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
  }
  
.modal-content {
    background-color: #fefefe;
    margin: auto;
    max-width: 340px;
    height: auto;
    border-radius: 3%;
    overflow: hidden;
}
.decorator-bar {
    max-width: 340px;
    height: 10px;
    background-color: #448899;
}
.content-wrapper {
    padding: 15px;
    height: auto;
    position: relative;
}
.close-button {
    width: 30px;
    height: 30px;
    background-image: url('close.png');
    position: absolute;
    right: 10px;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.dialog-topic {
    text-align: center;
    font-family: 'Noto Sans TC';
    font-size: 24px;
    font-weight: 700;
    color: #666666;
    margin-bottom: 15px;
}

.error-message {
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Noto Sans TC';
    font-size: 14px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group input {
    width: 100%;
    padding: 15px;
    height: 45px;
    border-color: #CCCCCC;
    border-width: 1px;
    border-radius: 5px;
    font-family: 'Noto Sans TC';
    font-size: 16px;
}
.content-wrapper button {
    height: 45px;
    width: 100%;
    background-color: #448899;
    border: none;
    border-radius: 5px;
    font-family: 'Noto Sans TC';
    font-size: 19px;
    color: #FFFFFF;
}
.register {
    font-family: 'Noto Sans TC';
    font-size: 16px;
    color: #666666;
    text-align: center;
    padding-top: 5px;
}
  

/*註冊的彈出視窗*/
/* Add this CSS for the 註冊 modal */
.R-modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
  } 
  
.R-modal-content {
    background-color: #fefefe;
    margin: auto;
    max-width: 340px;
    height: auto;
    border-radius: 3%;
    overflow: hidden;
}
.R-content-wrapper {
    padding: 15px;
    height: auto;
    position: relative;
}

.R-close-button {
    width: 30px;
    height: 30px;
    background-image: url('close.png');
    position: absolute;
    right: 10px;
}

.R-close-button:hover,
.R-close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.R-error-message {
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Noto Sans TC';
    font-size: 14px;
}
.R-content-wrapper button {
    height: 45px;
    width: 100%;
    background-color: #448899;
    border: none;
    border-radius: 5px;
    font-family: 'Noto Sans TC';
    font-size: 19px;
    color: #FFFFFF;
}
.back-to-login {
    font-family: 'Noto Sans TC';
    font-size: 16px;
    color: #666666;
    text-align: center;
    padding-top: 5px;
}


